.App {
  text-align: center;
  color: #555555;
}

.Button {
  font-size: 15px;
  padding: 10px 30px;
  margin: 15px;
  background: transparent;
  border: 1px solid #555555;
}

.Button:hover {
  cursor: pointer;
  opacity: 0.5;
}
